.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 54px;
    justify-content: center
}

.menu > div {
    width: 280px;
    background-color: rgb(231, 240, 233);
    box-shadow: 36px 54px 18px 8px rgba(14, 7, 30, 0.84);
    display: flex;
    flex-direction: column;
    text-align: start;
}

.menu > div >img {
    height: 450px;
    width: 280px;
}

h3 {
    margin: 0;
    color: rgb(0, 0, 0);
    padding: 20px 20px 10px 20px;
    font-size: 20px;
}

.menu > div > div {
    color: rgb(76, 86, 77);
    padding: 0 20px 30px 20px;
}

